.secondsidefeature{
	padding-top: 10px;
}
.anchorsideheader{
	background-color: hsl(47,83%,91%);
}
.backcontentofheaderside{
	background-color: hsl(47,43%,95%);
}
.anchorsideheadersecond{
	background-color: hsl(47,13%,95%);
}
.anchorsideheadersecondanswerbtn{
	background-color: hsl(47,43%,95%);
}