.paracomment{
  font-size: 12px;
  padding-top: 4px;
  color: gray;
}
.badge-pad{
  padding-top: 5px;
  padding-bottom: 5px;
}
.daysagocss{
  font-size: 12px;
  color: gray;
}
.avatarname{
  color: #3e98f7;
}